:root {
  --clr-primary: hsl(18deg, 100%, 60%);
  --clr-secondary: #292830;
  --clr-tertiary: hsl(0deg, 0%, 74%);
  --clr-white: hsl(0deg, 0%, 100%);
  --clr-cyan: hsl(197deg, 88%, 60%);
  --clr-purple: hsl(256deg, 87%, 50%);
  --clr-yellow: hsl(42deg, 100%, 56%);
  --clr-brown: hsl(15deg, 42%, 54%);
  --clr-shadow: 0, 0, 0, 0.1;
  --fs-xl: 3rem;
  --fs-lg: 2.5rem;
  --fs-900: 2.25rem;
  --fs-800: 2rem;
  --fs-700: 1.875rem;
  --fs-600: 1rem;
  --fs-500: 0.975rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  --fs-100: 0.75rem;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semiBold: 600;
  --fw-bold: 600;
  --space-1: 0.5rem;
  --space-2: 0.75rem;
  --space-3: 1rem;
  --space-4: 1.25rem;
  --space-5: 1.5rem;
  --space-6: 1.875rem;
  --space-7: 2.5rem;
  --space-8: 3.75rem;
  --space-9: 5rem;
  --section-spacing: 12rem;
}
@media (min-width: 48em) {
  :root {
    --fs-xl: 6rem;
    --fs-lg: 4.5rem;
    --fs-900: 2.25rem;
    --fs-800: 2rem;
    --fs-700: 1.875rem;
    --fs-600: 1.5rem;
    --fs-500: 1.375rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    --fs-100: 0.75rem;
  }
}
@media (min-width: 48em) {
  :root {
    --section-spacing: 18rem;
  }
}

html {
  scrollbar-color: var(--clr-primary) var(--clr-white);
}

main {
  flex: auto;
}
main:focus {
  outline: none;
}

:focus {
  outline: 1px solid var(--clr-secondary);
  outline-offset: 0.2rem;
}

a {
  display: inline-block;
  text-decoration: none;
}
a:hover:not([class]) {
  text-underline-offset: 2px;
  text-decoration-color: var(--clr-secondary);
  text-decoration: underline;
}

[tabindex="-1"] {
  outline: none;
}

ul[role=list],
ol[role=list] {
  padding: 0;
}

[role=button] {
  cursor: pointer;
}

body {
  font-family: "Hind Siliguri", sans-serif;
  color: var(--clr-secondary);
}

@media (min-width: 48em) {
  :where(h1, h2, h3, p) {
    max-width: var(--width);
  }
}

:where(h1, h2, h3, a) {
  line-height: 1;
}

h1 {
  --width: 10.29ch;
  font-size: var(--fs-xl);
  color: var(--clr-secondary);
}

h2 {
  --width: 27ch;
  font-size: var(--fs-lg);
}

p {
  --width: 39ch;
  font-size: var(--fs-600);
  color: var(--clr-tertiary);
  line-height: 163%;
}

a {
  font-weight: var(--fw-medium);
  color: inherit;
}

.button {
  border: 0;
  outline: 0;
  display: inline-block;
  cursor: pointer;
}
.button[data-type=head] {
  font-size: var(--fs-400);
  line-height: 0.95;
  background: none;
  color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  border-radius: 0.5rem;
  padding: 0.9375rem 1.0625rem 1rem 1.125rem;
}
@media (max-width: 61.8375em) {
  .button[data-type=head] {
    color: var(--clr-white);
    border-color: var(--clr-white);
  }
}
.button[data-type=input] {
  background: var(--clr-primary);
  color: var(--clr-white);
  line-height: 26px;
  border-radius: 0.5em;
  padding: 0.6875rem 0.9375rem 0.6875rem 1.125rem;
  width: min-content;
}
.button[data-type=card] {
  color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  line-height: 26px;
  border-radius: 0.5em;
  padding: 0.75rem 1.5rem;
}
.button[data-type=hero] {
  background: var(--clr-primary);
  color: var(--clr-white);
  line-height: 39px;
  border-radius: 0.5em;
  font-size: var(--fs-600);
  padding: 0.83em 1em;
}
.button[data-type=region] {
  font-size: var(--fs-500);
  background: var(--clr-white);
  color: var(--clr-primary);
  padding: 1.07em 1.1em;
  border-radius: 0.5em;
  width: fit-content;
}

.cards {
  margin-top: var(--space-9);
}

.card {
  width: 21.875rem;
  transition: 0.4s;
}

@keyframes scroll {
  0% {
    transform: translateX(1050px);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.site-head {
  --_header-space: 3.5625rem;
  --_header-height: 3rem;
  margin-block-start: var(--_header-space);
  height: var(--_header-height);
}
.site-head__middle {
  width: 100%;
}
@media (max-width: 61.8375em) {
  .site-head__middle {
    position: absolute;
    top: calc(var(--_header-height) + var(--_header-space));
    right: 0;
    z-index: 999;
    height: 100%;
    padding: var(--space-8);
    background: var(--clr-primary);
    transform: translateX(100%);
  }
}
.site-head__middle[data-visible=true] {
  transform: translateX(0);
}
.site-head__navigation {
  flex: 1;
}
.site-head__navigation > ul {
  margin: 0;
}
@media (max-width: 61.8375em) {
  .site-head__navigation {
    flex: 0.6;
  }
}
@media (min-width: 61.9375em) {
  .site-head__toggle {
    display: none;
  }
}

.home .hero {
  margin-top: 6.625rem;
}
@media (max-width: 61.8375em) {
  .home .hero__img {
    order: -1;
  }
}
.home .project__img {
  height: min(100vw, 44.5rem);
  margin-block-start: 13.1875rem;
  padding-block-start: min(20vw, 5.4375rem);
  overflow: hidden;
}
@media (max-width: 61.8375em) {
  .home .project__img {
    overflow: visible;
    border-radius: 2em;
  }
}
.home .feature[data-state=reversed] {
  flex-direction: row-reverse;
}
@media (max-width: 61.8375em) {
  .home .feature[data-state=reversed] {
    flex-direction: column;
  }
}
.home .product {
  overflow: visible;
}
@media (min-width: 48em) {
  .home .product .headline h1 {
    --width: 13ch;
  }
}
@media (min-width: 48em) {
  .home .product .headline p {
    --width: 27ch;
    margin-block-start: 0;
  }
}
.home .product .cards .card {
  --flow-space: var(--space-5);
  aspect-ratio: 1/1;
}
.home .product .cards .card:hover {
  box-shadow: 0 0 50px rgba(var(--clr-shadow));
  border-radius: 0.75rem;
}
.home .product .cards .card a:hover {
  color: var(--clr-primary);
}
.home .plan .card h3 {
  line-height: 1.63em;
}
.home .plan .card:hover {
  box-shadow: 0 0 50px rgba(var(--clr-shadow));
  border-radius: 0.75rem;
}
.home .plan .card:hover .button {
  background: var(--clr-primary);
  color: var(--clr-white);
  transition: 0.4s;
}
.home .plan .card__button {
  width: max-content;
}
.home .opinion {
  overflow: hidden;
}
.home .opinion .headline > * {
  --width: 18ch;
}
.home .opinion .cards {
  width: 109.375rem;
  animation: scroll 30s linear infinite;
}
.home .opinion .cards > li {
  --flow-space: var(--space-5);
  border: 1px solid var(--clr-white);
  border-radius: 0 0 0.75rem 0.75rem;
  position: relative;
}
.home .opinion .cards > li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 0.625rem;
  border-radius: 0.75rem 0.75rem 0 0;
  background-color: var(--clr);
}
.home .opinion .cards > li:nth-child(1):before {
  --clr: var(--clr-primary);
}
.home .opinion .cards > li:nth-child(2):before {
  --clr: var(--clr-yellow);
}
.home .opinion .cards > li:nth-child(3):before {
  --clr: var(--clr-purple);
}
.home .opinion .cards > li:nth-child(4):before {
  --clr: var(--clr-cyan);
}
.home .opinion .cards > li:nth-child(5):before {
  --clr: var(--clr-brown);
}
.home .region {
  padding-block: min(23vh, var(--space-9) + var(--space-7));
}
@media (max-width: 47.937em) {
  .home .region__imgs {
    display: none;
  }
}

.site-foot__email {
  max-width: 21.8125rem;
  width: 21.8125rem;
}
.site-foot__email form label {
  display: block;
}
.site-foot__email form > div {
  position: relative;
  border: 1px solid #292830;
  width: 100%;
  height: 3.875rem;
  border-radius: 0.5rem;
}
.site-foot__email form > div input {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.site-foot__email form > div input::placeholder {
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  color: var(--clr-secondary);
  opacity: 1;
}
.site-foot nav {
  flex: 1;
}
.site-foot .copyright {
  border-top: 1px solid var(--clr-tertiary);
}

.text-primary {
  color: var(--clr-primary) !important;
}

.bg-primary {
  background-color: var(--clr-primary) !important;
}

.text-secondary {
  color: var(--clr-secondary) !important;
}

.bg-secondary {
  background-color: var(--clr-secondary) !important;
}

.text-tertiary {
  color: var(--clr-tertiary) !important;
}

.bg-tertiary {
  background-color: var(--clr-tertiary) !important;
}

.text-white {
  color: var(--clr-white) !important;
}

.bg-white {
  background-color: var(--clr-white) !important;
}

.text-cyan {
  color: var(--clr-cyan) !important;
}

.bg-cyan {
  background-color: var(--clr-cyan) !important;
}

.text-purple {
  color: var(--clr-purple) !important;
}

.bg-purple {
  background-color: var(--clr-purple) !important;
}

.text-yellow {
  color: var(--clr-yellow) !important;
}

.bg-yellow {
  background-color: var(--clr-yellow) !important;
}

.text-brown {
  color: var(--clr-brown) !important;
}

.bg-brown {
  background-color: var(--clr-brown) !important;
}

.text-shadow {
  color: var(--clr-shadow) !important;
}

.bg-shadow {
  background-color: var(--clr-shadow) !important;
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-100 {
  font-size: var(--fs-100);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-semiBold {
  font-weight: var(--fw-semiBold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.mt-1 {
  margin-block-start: var(--space-1);
}

.mr-1 {
  margin-inline-end: var(--space-1);
}

.ml-1 {
  margin-inline-start: var(--space-1);
}

.mb-1 {
  margin-block-end: var(--space-1);
}

.my-1 {
  margin-block: var(--space-1);
}

.gap-1 {
  gap: var(--space-1);
}

.p-1 {
  padding: var(--space-1);
}

.pt-1 {
  padding-block-start: var(--space-1);
}

.pb-1 {
  padding-block-end: var(--space-1);
}

.pr-1 {
  padding-inline-end: var(--space-1);
}

.pl-1 {
  padding-inline-start: var(--space-1);
}

.py-1 {
  padding-block: var(--space-1);
}

.px-1 {
  padding-inline: var(--space-1);
}

.mt-2 {
  margin-block-start: var(--space-2);
}

.mr-2 {
  margin-inline-end: var(--space-2);
}

.ml-2 {
  margin-inline-start: var(--space-2);
}

.mb-2 {
  margin-block-end: var(--space-2);
}

.my-2 {
  margin-block: var(--space-2);
}

.gap-2 {
  gap: var(--space-2);
}

.p-2 {
  padding: var(--space-2);
}

.pt-2 {
  padding-block-start: var(--space-2);
}

.pb-2 {
  padding-block-end: var(--space-2);
}

.pr-2 {
  padding-inline-end: var(--space-2);
}

.pl-2 {
  padding-inline-start: var(--space-2);
}

.py-2 {
  padding-block: var(--space-2);
}

.px-2 {
  padding-inline: var(--space-2);
}

.mt-3 {
  margin-block-start: var(--space-3);
}

.mr-3 {
  margin-inline-end: var(--space-3);
}

.ml-3 {
  margin-inline-start: var(--space-3);
}

.mb-3 {
  margin-block-end: var(--space-3);
}

.my-3 {
  margin-block: var(--space-3);
}

.gap-3 {
  gap: var(--space-3);
}

.p-3 {
  padding: var(--space-3);
}

.pt-3 {
  padding-block-start: var(--space-3);
}

.pb-3 {
  padding-block-end: var(--space-3);
}

.pr-3 {
  padding-inline-end: var(--space-3);
}

.pl-3 {
  padding-inline-start: var(--space-3);
}

.py-3 {
  padding-block: var(--space-3);
}

.px-3 {
  padding-inline: var(--space-3);
}

.mt-4 {
  margin-block-start: var(--space-4);
}

.mr-4 {
  margin-inline-end: var(--space-4);
}

.ml-4 {
  margin-inline-start: var(--space-4);
}

.mb-4 {
  margin-block-end: var(--space-4);
}

.my-4 {
  margin-block: var(--space-4);
}

.gap-4 {
  gap: var(--space-4);
}

.p-4 {
  padding: var(--space-4);
}

.pt-4 {
  padding-block-start: var(--space-4);
}

.pb-4 {
  padding-block-end: var(--space-4);
}

.pr-4 {
  padding-inline-end: var(--space-4);
}

.pl-4 {
  padding-inline-start: var(--space-4);
}

.py-4 {
  padding-block: var(--space-4);
}

.px-4 {
  padding-inline: var(--space-4);
}

.mt-5 {
  margin-block-start: var(--space-5);
}

.mr-5 {
  margin-inline-end: var(--space-5);
}

.ml-5 {
  margin-inline-start: var(--space-5);
}

.mb-5 {
  margin-block-end: var(--space-5);
}

.my-5 {
  margin-block: var(--space-5);
}

.gap-5 {
  gap: var(--space-5);
}

.p-5 {
  padding: var(--space-5);
}

.pt-5 {
  padding-block-start: var(--space-5);
}

.pb-5 {
  padding-block-end: var(--space-5);
}

.pr-5 {
  padding-inline-end: var(--space-5);
}

.pl-5 {
  padding-inline-start: var(--space-5);
}

.py-5 {
  padding-block: var(--space-5);
}

.px-5 {
  padding-inline: var(--space-5);
}

.mt-6 {
  margin-block-start: var(--space-6);
}

.mr-6 {
  margin-inline-end: var(--space-6);
}

.ml-6 {
  margin-inline-start: var(--space-6);
}

.mb-6 {
  margin-block-end: var(--space-6);
}

.my-6 {
  margin-block: var(--space-6);
}

.gap-6 {
  gap: var(--space-6);
}

.p-6 {
  padding: var(--space-6);
}

.pt-6 {
  padding-block-start: var(--space-6);
}

.pb-6 {
  padding-block-end: var(--space-6);
}

.pr-6 {
  padding-inline-end: var(--space-6);
}

.pl-6 {
  padding-inline-start: var(--space-6);
}

.py-6 {
  padding-block: var(--space-6);
}

.px-6 {
  padding-inline: var(--space-6);
}

.mt-7 {
  margin-block-start: var(--space-7);
}

.mr-7 {
  margin-inline-end: var(--space-7);
}

.ml-7 {
  margin-inline-start: var(--space-7);
}

.mb-7 {
  margin-block-end: var(--space-7);
}

.my-7 {
  margin-block: var(--space-7);
}

.gap-7 {
  gap: var(--space-7);
}

.p-7 {
  padding: var(--space-7);
}

.pt-7 {
  padding-block-start: var(--space-7);
}

.pb-7 {
  padding-block-end: var(--space-7);
}

.pr-7 {
  padding-inline-end: var(--space-7);
}

.pl-7 {
  padding-inline-start: var(--space-7);
}

.py-7 {
  padding-block: var(--space-7);
}

.px-7 {
  padding-inline: var(--space-7);
}

.mt-8 {
  margin-block-start: var(--space-8);
}

.mr-8 {
  margin-inline-end: var(--space-8);
}

.ml-8 {
  margin-inline-start: var(--space-8);
}

.mb-8 {
  margin-block-end: var(--space-8);
}

.my-8 {
  margin-block: var(--space-8);
}

.gap-8 {
  gap: var(--space-8);
}

.p-8 {
  padding: var(--space-8);
}

.pt-8 {
  padding-block-start: var(--space-8);
}

.pb-8 {
  padding-block-end: var(--space-8);
}

.pr-8 {
  padding-inline-end: var(--space-8);
}

.pl-8 {
  padding-inline-start: var(--space-8);
}

.py-8 {
  padding-block: var(--space-8);
}

.px-8 {
  padding-inline: var(--space-8);
}

.mt-9 {
  margin-block-start: var(--space-9);
}

.mr-9 {
  margin-inline-end: var(--space-9);
}

.ml-9 {
  margin-inline-start: var(--space-9);
}

.mb-9 {
  margin-block-end: var(--space-9);
}

.my-9 {
  margin-block: var(--space-9);
}

.gap-9 {
  gap: var(--space-9);
}

.p-9 {
  padding: var(--space-9);
}

.pt-9 {
  padding-block-start: var(--space-9);
}

.pb-9 {
  padding-block-end: var(--space-9);
}

.pr-9 {
  padding-inline-end: var(--space-9);
}

.pl-9 {
  padding-inline-start: var(--space-9);
}

.py-9 {
  padding-block: var(--space-9);
}

.px-9 {
  padding-inline: var(--space-9);
}

.mx-auto {
  margin-inline: auto;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1.5rem);
}

.flow-sections > *:where(:not(:first-child)) {
  margin-top: var(--section-spacing);
}

.grid {
  display: grid;
}

.flex-row {
  display: flex;
}

[class*=flex-wrap] {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-x {
  display: flex;
  justify-content: center;
}

.center-y {
  display: flex;
  align-items: center;
}

.flex-column-responsive {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 61.8375em) {
  .flex-column-responsive {
    flex-direction: column;
  }
}

.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.justify-evenly {
  display: flex;
  justify-content: space-evenly;
}

.wrapper {
  width: min(100% - 2rem, 69.3125rem);
  margin-inline: auto;
}
